@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';
@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.party {
    .tab.inventory {
        padding-right: 0;
        .search-section {
            padding-right: 14px;
        }

        .items-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            scrollbar-gutter: stable;
            margin-top: 20px;
            padding-bottom: 4px;
            .with-scroll-shadows();
        }
    }
}
