@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.party {
    .tab.notes {
        padding: 16px 0 4px 15px;
        .editor-content {
            scrollbar-gutter: stable;
            padding-left: 8px;
            .with-scroll-shadows();
        }
    }
}