@import '../../../utils/colors.less';
@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.environment {
    .tab.potentialAdversaries {
        .items-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            padding: 0 4px 4px 4px;
            scrollbar-gutter: stable;
            .with-scroll-shadows();
        }
    }
}
